target/
*.class
*.log
*.tmp

backend/data/
backend/backend_*.log
backend/*.log

frontend/target/
frontend/*.log
frontend/compile_*.txt
frontend/TODO*.md
frontend/PROGRESS.md

.vscode/
.idea/
*.vsix

*.xps
*.oxps
*.dotx
*.pdf
*.png
